<main class="container card p-2">
  <%= simple_form_for quote, html: {class: "quote form" } do |f| %>
    <% if quote.errors.any? %>
      <div class="error-message>
        <%= quote.errors.full_messages %>
      </div>
    <% end %>
    <div class="mt-4">
      <h5>
        Quote for :: <b><%= current_user.username %></b>
      </h5>
      <div class="jumbotron p-2">        
        <%= f.input :name, maxlength: 50, class: "form-control", input_html: { autofocus: true } %>
        <div class="mt-4">
          <%= link_to "Cancel", quotes_path, class: "btn btn-outline-secondary" %>
          <%= f.submit class: "btn btn-secondary" %>
        </div>
      </div>
    </div>
  <% end %>
</main>