<%# app/views/quotes/index.html.erb %>
<%= turbo_stream_from "quotes" %>

<main class="container">
  <p style="color: green"><%= notice %></p>
  <div class="header mb-3">
    <div class="row w-75">
      <div class="col col-md-7 h3">Quotes</div>
      <div class="col col-md text-right">Welcome: <b><%= login_username %></b> | <%= link_to "Logout", logout_path %></div>
    </div>
    <div class="row">
      <div class="col-md-12 text-right">
        <%= link_to "New quote",
            new_quote_path, 
            class: "btn btn-primary",
            data: { turbo_frame: dom_id(Quote.new) }
        %>
      </div>
    </div>
  </div>

  <%= turbo_frame_tag Quote.new %>

  <%= turbo_frame_tag do %>
    <%= render @quotes %>
  <% end %>
</main>
