<main class="p-2 text-center">
  <%= render 'shared/flash' %>
  <div class="card">
    <h1 class="card-title">Create Account</h1>
    <%= simple_form_for @user do |f| %>
      <% if @user.errors.any? %>
        <div class="error-message>
          <%= @user.errors.full_messages %>
        </div>
      <% end %>
      <div>
        <%= f.label 'User name:' %>
        <%= f.text_field :username %>
        <%= f.submit 'Create' %>
      </div>
      <div class="my-4">
        Have an account? <%= link_to "Sign In", 'login/index', class: "btn btn-sm btn-info" %>
      </div>
    <% end %>
  </div>
</main>