 <main class="container w-50 mt-5">
  <div class="card p-2">
    <div class="card-body">
      <%= render 'shared/flash' %>
      <div class="card-title h4 shadow-lg">Login</div>
      <%= form_with(url: login_create_path, method: 'post') do %>
        <%= label_tag(:username, "User name:") %>
        <%= text_field_tag(:username) %>
        <div class="my-2 row">
          <div class="col col-md"><%= submit_tag("Sign In") %></div>
          <div class="col col-md"><%= link_to "Create new account", users_path, class: "btn btn-sm btn-primary text-white" %></div>
        </div>
      <% end %>
    </div>
  </div>
</main>